# ==========================
# General Java Ignored Files
# ==========================
*.class
*.log
*.ctxt
*.mtj.tmp/

# ==========================
# Package Files (Binaries)
# ==========================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ==========================
# JVM Crash Logs
# ==========================
hs_err_pid*
replay_pid*

# ==========================
# Maven Specific Ignored Files
# ==========================
target/
!target/*.keep
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ==========================
# Eclipse Specific Ignored Files
# ==========================
*.classpath
*.project
*.settings/
bin/
tmp/

# ==========================
# IntelliJ IDEA Specific Files
# ==========================
.idea/
*.iml
*.iws
out/

# Ignorar archivos y carpetas de Eclipse
.classpath
.project
.settings/

# Ignorar Maven Wrapper
.mvn/

# Ignorar la carpeta de compilación de Maven
target/